<h3 class="ui top attached inverted header">Add User</h3>
<div class="ui attached segment">
	<form class="ui form">
	  <!-- Error message -->
	  <div ng-if="errors.length" class="ui message negative"><div class="header"><i class="icon warning sign"></i>Error!</div>
		<span ng-repeat="error in errors">- {{error}}<br></span>
	  </div>
	  
	  <!-- Success message -->	
	  <div ng-if="msgtext" class="ui message positive"><div class="header"><i class="icon checkmark"></i>Success!</div>
		<span>{{msgtext}}</span>
	  </div>

	  <div class="two fields">
	    <div class="field labeled">
	      <label>Full Name</i></label>
	      <input name="fullname" ng-model="objuser.fullname" type="text">
	    </div>
	    <div class="field">
	      <label>Email</label>
	      <input name="email" ng-model="objuser.email" type="text">
	    </div>
	  </div>
	  <div class="two fields">
	    <div class="field">
	      <label>Country</label>
		  <select class="ui dropdown country" name="country" ng-model="objuser.country">
			<option value="">Select Country</option>
			<option ng-repeat="country in countries" value="{{country}}">{{country}}</option>
		  </select>      
	    </div>
	    <div class="field">
	      <label>Address</label>
	      <input type="text" ng-model="objuser.address" name="address">
	    </div>
	  </div>
	  <div class="two fields">
	    <div class="field">
	      <label>Skills</label>
			<select name="skills" multiple="" class="ui fluid dropdown skills" ng-model="objuser.skills">
				<option value="">Skills</option>
				<option ng-repeat="skill in skills" value="{{skill}}">{{skill}}</option>
			</select>	
	      </div>
	    <div class="field">
	      <label>Gender</label>
		  <select class="ui dropdown gender" name="gender" ng-model="objuser.gender">
			<option value="">Select Gender</option>
			<option ng-repeat="(index,gender) in genders" value="{{index}}">{{gender}}</option>			
		  </select>      
	    </div>
	  </div>
	  <button class="ui button positive" type="submit"><i class="icon save"></i>Submit</button>
	  <button class="ui button negative cancel" type="button"><i class="icon cancel"></i>Cancel</button>	  
	</form>
</div>	