<a class="ui button positive" href="#/add"><i class="icon add user"></i>Add User</a>
<div class="ui left icon input" style="float: right;">
  <input type="text" ng-model="search" placeholder="Search users...">
  <i class="users icon"></i>
</div>

<!-- Error message -->
<div ng-if="errors.length" class="ui message negative"><div class="header"><i class="icon warning sign"></i>Error!</div>
<span ng-repeat="error in errors">- {{error}}<br></span>
</div>

<!-- Success message -->  
<div ng-if="msgtext" class="ui message positive"><div class="header"><i class="icon checkmark"></i>Success!</div>
<span>{{msgtext}}</span>
</div>

<table class="ui table selectable olive celled">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Country</th>
      <th>Gender</th>
      <th>Skills</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="!data.length"><td colspan="8">
      <div class="ui icon negative message">
        <i class="warning circle icon"></i>
        <div class="content">
          <div class="header">
            No record to display
          </div>
        </div>
      </div>      
    </td></tr>
    <tr id="{{user.id}}" ng-repeat="user in data | filter:search">
    	<td ng-click="sortType = 'fullname'">{{user.fullname}}</td>
    	<td>{{user.email}}</td>
    	<td>{{user.country}}</td>
    	<td>{{user.gender == '1' ? 'Male' : 'Female' }}</td>
    	<td>{{user.skills}}</td>
    	<td>{{user.address}}</td>
    	<td>
    		<a href="#/edit/{{user.id}}"><i class="pencil delete large teal link icon"></i></a>
    		<a ng-click="delete(user.id);"><i class="user delete large red link icon"></i></a>
    	</td>
    </tr>
  </tbody>
</table>

<div class="ui modal">
  <div class="header">Delete user</div>
  <div class="content">
    <p>Are you sure you want to delete this user?</p>
  </div>
  <div class="actions">
    <div class="ui approve positive button">Confirm</div>
    <div class="ui cancel negative button">Cancel</div>
  </div>
</div>