<a class="ui button positive" href="#/add"><i class="icon add"></i>Add User</a>
<div class="ui icon input" style="float:right;">
  <input placeholder="Search..." ng-model="search" type="text">
  <i class="inverted circular search link icon"></i>
</div>
<div class="ui message" ng-class="msgtext.length ? 'visible' : 'hidden'"><div class="header">{{msgtitle}}</div>
<span ng-repeat="error in msgtext">- {{error}}<br></span>
</div>
<h3>Change message boc style class</h3>
<table class="ui table selectable olive celled">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Country</th>
      <th>Gender</th>
      <th>Skills</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr id="{{user.id}}" ng-repeat="user in data track by $index | filter:search | orderBy:sortType:sortReverse">
    	<td ng-click="sortType = 'fullname'">{{user.fullname}}</td>
    	<td>{{user.email}}</td>
    	<td>{{user.country}}</td>
    	<td>{{user.gender == '1' ? 'Male' : 'Female' }}</td>
    	<td>{{user.skills}}</td>
    	<td>{{user.address}}</td>
    	<td>
    		<a href="#/edit/{{user.id}}"><i class="pencil large teal link icon"></i></a>
    		<a ng-click="delete(user.id);"><i class="close large red link icon"></i></a>	
    	</td>
    </tr>
  </tbody>
</table>

<div class="ui modal">
  <div class="header">Delete user</div>
  <div class="content">
    <p>Are you sure you want to delete this user?</p>
  </div>
  <div class="actions">
    <div class="ui approve positive button">Confirm</div>
    <div class="ui cancel negative button">Cancel</div>
  </div>
</div>